
<% layout('/layouts/boilerplate.ejs')-%>

<h2 class="head text-center">Create New Listing</h2>
    <div class="container mb-3">
        
            
        
        
        
        <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" placeholder="Enter name" class="form-control" name="listing[title]" required>
                        <div class="valid-feedback">Title is good</div>
                        <div class="invalid-feedback">Kuch toh naam hoga..</div>
                    </div>
                
                
                    <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea cols="50" rows="5" class="form-control" name="listing[description]" required></textarea>
    
                    </div>
                    
                    <div class="mb-3">
                        <label for="image" class="form-label"> Upload image</label>
                        <input type="file"  class="form-control" name="listing[image]" >
                        
                    </div>
                    
                    <div class="mb-3">
                        <label for="category" class="form-label">Category:</label>
                        <select class="form-control" name="listing[category]">
                            <option>Rooms</option>
                            <option>Iconic cities</option>
                            <option>Mountain</option>
                            <option>Castle</option>
                            <option>Pools</option>
                            <option>Beach</option>
                            <option>Farm</option>
                            <option>Arctic</option>
                            <option>Camping</option>
                            
                        </select>
        
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                         <label for="price" class="form-label">Price</label>
                         <input type="number" name="listing[price]"class="form-control"  placeholder="Enter price" required>
                         <div class="invalid-feedback">fokat me dena hai kya?</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" placeholder="Enter country name"class="form-control"  name="listing[country]" required>
                            <div class="invalid-feedback">kidhar, swarg mai hai ya nark mai?</div>
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                         <input type="text" placeholder="Enter location" class="form-control" name="listing[location]" required> 
                         <div class="invalid-feedback">khud se dhundna hai kya?*</div>
                    </div>
    
                    <button class="btn btn-dark add-btn">Add Listing</button>
                </div>    
            </div>
        </form>

    </div>
    

